__pycache__/
*.pyc
*.pyo
*.pyd
env/
*/__pycache__/
*.env
# Compiled output
app-prograweb/dist
app-prograweb/tmp
app-prograweb/out-tsc
app-prograweb/bazel-out

# Node
app-prograweb/node_modules
app-prograweb/npm-debug.log
app-prograweb/yarn-error.log

# IDEs and editors
app-prograweb/.idea/
app-prograweb/.project
app-prograweb/.classpath
app-prograweb/.c9/
app-prograweb/*.launch
app-prograweb/.settings/
app-prograweb/*.sublime-workspace

# Visual Studio Code
app-prograweb/.vscode/*
!app-prograweb/.vscode/settings.json
!app-prograweb/.vscode/tasks.json
!app-prograweb/.vscode/launch.json
!app-prograweb/.vscode/extensions.json
app-prograweb/.history/*

# Miscellaneous
app-prograweb/.angular/cache
app-prograweb/.sass-cache/
app-prograweb/connect.lock
app-prograweb/coverage
app-prograweb/libpeerconnection.log
app-prograweb/testem.log
app-prograweb/typings

# System files
app-prograweb/.DS_Store
app-prograweb/Thumbs.db